{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>About - Nutri-Tools</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<link rel="stylesheet" href="http://cdn2.editmysite.com/css/sites.css?buildTime=1424377651" type="text/css" /><link rel='stylesheet' type='text/css' href='http://cdn1.editmysite.com/editor/libraries/fancybox/fancybox.css?1424377651' />
<link rel='stylesheet' type='text/css' href={% static 'css/main_style.css' %} title='wsite-theme-css' />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,400italic,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Mate:400,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
<style type='text/css'>
.wsite-elements.wsite-not-footer div.paragraph, .wsite-elements.wsite-not-footer p, .wsite-elements.wsite-not-footer .product-block .product-title, .wsite-elements.wsite-not-footer .product-description, .wsite-elements.wsite-not-footer .wsite-form-field label, .wsite-elements.wsite-not-footer .wsite-form-field label, #wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {}
#wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {}
.wsite-elements.wsite-footer div.paragraph, .wsite-elements.wsite-footer p, .wsite-elements.wsite-footer .product-block .product-title, .wsite-elements.wsite-footer .product-description, .wsite-elements.wsite-footer .wsite-form-field label, .wsite-elements.wsite-footer .wsite-form-field label{}
.wsite-elements.wsite-not-footer h2, .wsite-elements.wsite-not-footer .product-long .product-title, .wsite-elements.wsite-not-footer .product-large .product-title, .wsite-elements.wsite-not-footer .product-small .product-title, #wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {}
#wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {}
.wsite-elements.wsite-footer h2, .wsite-elements.wsite-footer .product-long .product-title, .wsite-elements.wsite-footer .product-large .product-title, .wsite-elements.wsite-footer .product-small .product-title{}
#wsite-title {}
.wsite-menu-default a {}
.wsite-menu a {}
.wsite-image div, .wsite-caption {}
.galleryCaptionInnerText {}
.fancybox-title {}
.wslide-caption-text {}
.wsite-phone {}
.wsite-headline {}
.wsite-headline-paragraph {}
.wsite-button-inner {}
.wsite-not-footer blockquote, #wsite-com-product-tab blockquote {}
.wsite-footer blockquote {}
.blog-header h2 a {}
#wsite-content h2.wsite-product-title {}
.wsite-product .wsite-product-price a {}
</style>
<style>
.wsite-background {background-image: url('http://cdn1.editmysite.com/uploads/4/7/7/7/47773417/background-images/346219241.jpg') !important;background-repeat: no-repeat !important;background-position: 50% 50% !important;background-size: cover !important;background-color: transparent !important;background: inherit;}
body.wsite-background {background-attachment: fixed !important;}
</style>
<link rel='stylesheet' type='text/css' href='http://cdn1.editmysite.com/editor/images/slideshow/slideshow.css?1424377651' />
<script><!--
var STATIC_BASE = '//cdn1.editmysite.com/';
var STYLE_PREFIX = 'wsite';
//-->
</script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
<script src='http://cdn2.editmysite.com/js/site/main.js?buildTime=1424377651'></script>
<script type='text/javascript' src='http://cdn1.editmysite.com/editor/libraries/slideshow-jq.js?buildTime=1424377651'></script>
<script>_W.relinquish && _W.relinquish()</script>
<script type='text/javascript'><!--
var IS_ARCHIVE=1;
(function(jQuery){
function initFlyouts(){initPublishedFlyoutMenus([{"id":"677773975109734505","title":"Home","url":"index.html","target":""},{"id":"687622072675596437","title":"Nutrition Tracker","url":"nutrition-tracker.html","target":""},{"id":"862058900637090306","title":"About","url":"about.html","target":""},{"id":"112921315226525493","title":"Contact","url":"contact.html","target":""}],"862058900637090306","<li><a href=\"#\" data-membership-required=\"\" >{{title}}<\/a><\/li>",'active',false)}
if (jQuery) {
jQuery(document).ready(function() { jQuery(initFlyouts); });
}else{
if (Prototype.Browser.IE) window.onload = initFlyouts;
else document.observe('dom:loaded', initFlyouts);
}
})(window._W && _W.jQuery)
//-->
</script>
</head>
<body class='no-header-page  wsite-theme-light wsite-page-about'>
<div id="top-image" class="wsite-background wsite-custom-background">
    <div id="header-wrap">
        <div class="container">
            <table id="header">
                <tr>
					<td class="phone-number"><span class='wsite-text wsite-phone'>The Two Dimension World @ 2015</span></td>
					<td id="header-right">
                        <table>
                            <tr>
								<td class="social"></td>
								<td class="search"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div><!-- end container -->
    </div><!-- end header-wrap -->  

		<div id="nav-wrap">
			<div class="container">
				<table>
					<tr>
						<td id="logo"><span class='wsite-logo'><a href={% url 'webapp:home' %}><span id="wsite-title">Nutri-Tools</span></a></span></td>
						<td id="menu"><ul class='wsite-menu-default'><li id='pg677773975109734505'><a href={% url 'webapp:home' %} data-membership-required="0" >Home</a></li><li id='pg687622072675596437'><a href={% url 'webapp:nutritionTracker' %} data-membership-required="0" >Nutrition Tracker</a></li><li id="active"><a href={% url 'webapp:about' %}>About</a></li><li id='pg112921315226525493'><a href={% url 'webapp:contact' %} data-membership-required="0" >Contact</a></li></ul></td>
					</tr>
				</table>
			</div><!-- end container -->
		</div><!-- end nav-wrap -->
	
		<div id="banner-wrap">
			<div class="container">
				<div id="banner">		
					<div style="clear:both;"></div>
				</div><!-- end banner -->
			</div><!-- end container -->
		</div><!-- end banner-wrap -->
</div><!-- end top image -->
<div class="below-fold-wrapper">
  <div class="main-shadow"></div>
  <div id="page-wrap">
		<div id="main-wrap">
			<div class="container">
				<div id='wsite-content' class='wsite-elements wsite-not-footer'>
<h2 class="wsite-content-title" style="text-align:left;">About Nutri-Tools</h2>

<div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;"></hr>
<div style="height: 20px; overflow: hidden; width: 100%;"></div></div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:50%; padding:0 15px;">
					
						

<div><div style="height:20px;overflow:hidden"></div>
<div id='692435038499556796-slideshow'></div>
<script type='text/javascript'>
(function(jQuery) {
function init() { wSlideshow.render({elementID:"692435038499556796",nav:"thumbnails",navLocation:"bottom",captionLocation:"bottom",transition:"slide",autoplay:"1",speed:"4",aspectRatio:"auto",showControls:"false",randomStart:"false",images:[{"url"={% static 'img/2091372.jpg'},"width":400,"height":313,"fullHeight":800,"fullWidth":1020},{"url"={% static 'img/9182273.jpg'},"width":284,"height":177,"fullHeight":177,"fullWidth":284},{"url"={% static 'img/5528793.jpg'},"width":400,"height":249,"fullHeight":687,"fullWidth":1100}]}) }
jQuery ? jQuery(init) : document.observe('dom:loaded', init)
})(window._W && _W.jQuery)
</script>

<div style="height:20px;overflow:hidden"></div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:50%; padding:0 15px;">
					
						

<div class="paragraph" style="text-align:left;"><span id="selectionBoundary_1424572157671_8216805914416909" class="rangySelectionBoundary" style="line-height: 0; display: none;">&#65279;</span>This site was created on February 21st, 2015. Nutri-Tools is a website that makes it easy to document what you eat. That way, you are aware of what you consume on a daily basis. Our main application called <em><strong>Nutrition Tracker</strong></em> allows you to search for the nutrition of various types of food from raw foods to mixed dishes! You may even keep track of the foods you eat so you know how much nutrients you had for any period of time.<span id="selectionBoundary_1424572157669_46389376767911017" class="rangySelectionBoundary" style="line-height: 0; display: none;">&#65279;</span></div>


					
				</td>			</tr>
		</tbody>
	</table>
</div></div></div>

<div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;"></hr>
<div style="height: 20px; overflow: hidden; width: 100%;"></div></div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:50%; padding:0 15px;">
					
						

<div><div id="623071031922320349" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml"><a name="Project"></a></div>



</div>

<h2 class="wsite-content-title" style="text-align:left;">Our Project</h2>

<div class="paragraph" style="text-align:left;">Nutri-Tools uses a number of datasets provided by the Canadian federal government. These datasets lists the nutrients of foods for different categories. The datasets were used to meet the requirements for submitting a web application for the Canadian Open Data Experience (CODE) appathon. We took an interest into analyzing the intake of food and how it affects the quality of life. This is what drove us to create Nutri-Tools and the Nutrition Tracker application.</div>


					
				</td>				<td class="wsite-multicol-col" style="width:50%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a>
<img src={% static 'img/9116744_orig.jpg' %} alt="Picture" style="width:100%;max-width:531px" />
</a>
<div style="display:block;font-size:90%"></div>
</div></div>


					
				</td>			</tr>
		</tbody>
	</table>
</div></div></div>

<div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;"></hr>
<div style="height: 20px; overflow: hidden; width: 100%;"></div></div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:50.3367003367%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-border-width:0 " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a>
<img src={% static 'img/1424572893.png' %} alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%"></div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:49.6632996633%; padding:0 15px;">
					
						

<div><div id="386866704494728553" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml"><a name = "Team"></a></div>



</div>

<h2 class="wsite-content-title" style="text-align:left;">Our Team</h2>

<div class="paragraph" style="text-align:left;">Nutri-Tools is created by a group of University of Waterloo students interested in being involved in the Canadian Open Data Experience appathon while on coop. The team consists of Charlie Gu, Jack Lu, and Tim Huang. At the beginning of this project, Charlie worked in San Francisco, and Jack and Tim worked in Ottawa. Jack and Tim both worked for the Government of Canada in the Agriculture and Agri-Food Canada department. Thus, the team has strong understanding of the impact of food in our lives.</div>


					
				</td>			</tr>
		</tbody>
	</table>
</div></div></div>

<div><div style="height: 20px; overflow: hidden; width: 70%;"></div>
<hr class="styled-hr" style="width:70%;"></hr>
<div style="height: 20px; overflow: hidden; width: 70%;"></div></div></div>

			</div><!-- end container -->
		</div><!-- end main-wrap -->
  </div><!--end page wrap -->
</div>
<script>
	var movementStrength = 25;
	var height = movementStrength / $(window).height();
	var width = movementStrength / $(window).width();
	$("#top-image").mousemove(function(e){
			  var pageX = e.pageX - ($(window).width() / 2);
			  var pageY = e.pageY - ($(window).height() / 2);
			  var newvalueX = width * pageX * -1 - 50;
			  var newvalueY = height * pageY * -1 - 25;
			  $('#top-image').css("background-position", newvalueX+"px "+newvalueY+"px");
	});
</script>

</body>
</html>
