<!DOCTYPE html>
<html>
<head>
<title>Contact - Nutri-Tools</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>

<link rel="stylesheet" href="http://cdn2.editmysite.com/css/sites.css?buildTime=1424377651" type="text/css" /><link rel='stylesheet' type='text/css' href='http://cdn1.editmysite.com/editor/libraries/fancybox/fancybox.css?1424377651' />
<link rel='stylesheet' type='text/css' href={% static 'css/main_style.css' %} title='wsite-theme-css' />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,400italic,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Mate:400,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
<style type='text/css'>
.wsite-elements.wsite-not-footer div.paragraph, .wsite-elements.wsite-not-footer p, .wsite-elements.wsite-not-footer .product-block .product-title, .wsite-elements.wsite-not-footer .product-description, .wsite-elements.wsite-not-footer .wsite-form-field label, .wsite-elements.wsite-not-footer .wsite-form-field label, #wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {}
#wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {}
.wsite-elements.wsite-footer div.paragraph, .wsite-elements.wsite-footer p, .wsite-elements.wsite-footer .product-block .product-title, .wsite-elements.wsite-footer .product-description, .wsite-elements.wsite-footer .wsite-form-field label, .wsite-elements.wsite-footer .wsite-form-field label{}
.wsite-elements.wsite-not-footer h2, .wsite-elements.wsite-not-footer .product-long .product-title, .wsite-elements.wsite-not-footer .product-large .product-title, .wsite-elements.wsite-not-footer .product-small .product-title, #wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {}
#wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {}
.wsite-elements.wsite-footer h2, .wsite-elements.wsite-footer .product-long .product-title, .wsite-elements.wsite-footer .product-large .product-title, .wsite-elements.wsite-footer .product-small .product-title{}
#wsite-title {}
.wsite-menu-default a {}
.wsite-menu a {}
.wsite-image div, .wsite-caption {}
.galleryCaptionInnerText {}
.fancybox-title {}
.wslide-caption-text {}
.wsite-phone {}
.wsite-headline {}
.wsite-headline-paragraph {}
.wsite-button-inner {}
.wsite-not-footer blockquote, #wsite-com-product-tab blockquote {}
.wsite-footer blockquote {}
.blog-header h2 a {}
#wsite-content h2.wsite-product-title {}
.wsite-product .wsite-product-price a {}
</style>
<style>
.wsite-background {background-image: url('http://cdn1.editmysite.com/uploads/4/7/7/7/47773417/background-images/346219241.jpg') !important;background-repeat: no-repeat !important;background-position: 50% 50% !important;background-size: cover !important;background-color: transparent !important;background: inherit;}
body.wsite-background {background-attachment: fixed !important;}
</style>
<script><!--
var STATIC_BASE = 'http://cdn1.editmysite.com/';
var STYLE_PREFIX = 'wsite';
//-->
</script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
<script src='http://cdn2.editmysite.com/js/site/main.js?buildTime=1424377651'></script>
<script>_W.relinquish && _W.relinquish()</script>
<script type='text/javascript'><!--
var IS_ARCHIVE=1;
(function(jQuery){
function initFlyouts(){initPublishedFlyoutMenus([{"id":"677773975109734505","title":"Home","url":"index.html","target":""},{"id":"687622072675596437","title":"Nutrition Tracker","url":"nutrition-tracker.html","target":""},{"id":"862058900637090306","title":"About","url":"about.html","target":""},{"id":"112921315226525493","title":"Contact","url":"contact.html","target":""}],"112921315226525493","<li><a href=\"#\" data-membership-required=\"\" >{{title}}<\/a><\/li>",'active',false)}
if (jQuery) {
jQuery(document).ready(function() { jQuery(initFlyouts); });
}else{
if (Prototype.Browser.IE) window.onload = initFlyouts;
else document.observe('dom:loaded', initFlyouts);
}
})(window._W && _W.jQuery)
//-->
</script>
</head>
<body class='no-header-page  wsite-theme-light wsite-page-contact'>
<div id="top-image" class="wsite-background wsite-custom-background">
    <div id="header-wrap">
        <div class="container">
            <table id="header">
                <tr>
					<td class="phone-number"><span class='wsite-text wsite-phone'>The Two Dimension World @ 2015</span></td>
					<td id="header-right">
                        <table>
                            <tr>
								<td class="social"></td>
								<td class="search"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div><!-- end container -->
    </div><!-- end header-wrap -->  

		<div id="nav-wrap">
			<div class="container">
				<table>
					<tr>
						<td id="logo"><span class='wsite-logo'><a href={% url 'webapp:home' %}><span id="wsite-title">Nutri-Tools</span></a></span></td>
						<td id="menu"><ul class='wsite-menu-default'><li id='pg677773975109734505'><a href={% url 'webapp:home' %} data-membership-required="0" >Home</a></li><li id='pg687622072675596437'><a href={% url 'webapp:nutrition-tracker' %} data-membership-required="0" >Nutrition Tracker</a></li><li id='pg862058900637090306'><a href={% url 'webapp:about' %} data-membership-required="0" >About</a></li><li id="active"><a href={% url 'webapp:contact' %}>Contact</a></li></ul></td>
					</tr>
				</table>
			</div><!-- end container -->
		</div><!-- end nav-wrap -->
	
		<div id="banner-wrap">
			<div class="container">
				<div id="banner">		
					<div style="clear:both;"></div>
				</div><!-- end banner -->
			</div><!-- end container -->
		</div><!-- end banner-wrap -->
</div><!-- end top image -->
<div class="below-fold-wrapper">
  <div class="main-shadow"></div>
  <div id="page-wrap">
		<div id="main-wrap">
			<div class="container">
				<div id='wsite-content' class='wsite-elements wsite-not-footer'>
<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:49.999999999999%; padding:0 15px;">
					
						

<h2 class="wsite-content-title" style="text-align:left;">Contact Us</h2>

<div class="paragraph" style="text-align:left;">Please feel free to contact us if you have any difficulty using our application. Also, if you have additional suggestions or ideas please let us know. We will try to get back to you as soon as we can.</div>

<div class="wsite-spacer" style="height:48px;"></div>

<div>
<form enctype="multipart/form-data" action="http://www.weebly.com/weebly/apps/formSubmit.php" method="POST" id="form-920130288609496385">
<div id="920130288609496385-form-parent" class="wsite-form-container" style="margin-top:10px;">
  <ul class="formlist" id="920130288609496385-form-list">
    <h2 class="wsite-content-title" style="text-align:left;">Send your information</h2>

<div><div class="wsite-form-field wsite-name-field" style="margin:5px 0px 5px 0px;">
				<label class="wsite-form-label" for="input-885735085345539436">Name <span class="form-required">*</span></label>
				<div style="clear:both;"></div>
				<div class="wsite-form-input-container wsite-form-left wsite-form-input-first-name">
					<input id="input-885735085345539436" class="wsite-form-input wsite-input" type="text" name="_u885735085345539436[first]" />
					<label class="wsite-form-sublabel" for="input-885735085345539436">First</label>
				</div>
				<div class="wsite-form-input-container wsite-form-right wsite-form-input-last-name">
					<input id="input-885735085345539436-1" class="wsite-form-input wsite-input" type="text" name="_u885735085345539436[last]" />
					<label class="wsite-form-sublabel" for="input-885735085345539436-1">Last</label>
				</div>
				<div id="instructions-885735085345539436" class="wsite-form-instructions" style="display:none;"></div>
			</div>
			<div style="clear:both;"></div></div>

<div><div class="wsite-form-field" style="margin:5px 0px 5px 0px;">
				<label class="wsite-form-label" for="input-257317938148688569">Email <span class="form-required">*</span></label>
				<div class="wsite-form-input-container">
					<input id="input-257317938148688569" class="wsite-form-input wsite-input wsite-input-width-370px" type="text" name="_u257317938148688569" />
				</div>
				<div id="instructions-257317938148688569" class="wsite-form-instructions" style="display:none;"></div>
			</div></div>

<div><div class="wsite-form-field" style="margin:5px 0px 5px 0px;">
				<label class="wsite-form-label" for="input-323838401450859603">Comment <span class="form-required">*</span></label>
				<div class="wsite-form-input-container">
					<textarea id="input-323838401450859603" class="wsite-form-input wsite-input wsite-input-width-370px" name="_u323838401450859603" style="height: 200px"></textarea>
				</div>
				<div id="instructions-323838401450859603" class="wsite-form-instructions" style="display:none;"></div>
			</div></div>
  </ul>
</div>
<div style="display:none; visibility:hidden;">
  <input type="text" name="wsite_subject" />
</div>
<div style="text-align:left; margin-top:10px; margin-bottom:10px;">
  <input type="hidden" name="form_version" value="2" />
  <input type="hidden" name="wsite_approved" id="wsite-approved" value="approved" />
  <input type="hidden" name="ucfid" value="920130288609496385" />
  <input type='submit' style='position:absolute;top:0;left:-9999px;width:1px;height:1px' /><a class='wsite-button' onclick="document.getElementById('form-920130288609496385').submit()"><span class='wsite-button-inner'>Submit</span></a>
</div>
</form>


</div>


					
				</td>				<td class="wsite-multicol-col" style="width:49.999999999999%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a>
<img src={% static 'img/1424564605.png' %} alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<div class="wsite-map"><iframe allowtransparency="true" frameborder="0" scrolling="no" style="width: 100%; height: 350px; margin-top: 10px; margin-bottom: 10px;" src="http://www.weebly.com/weebly/apps/generateMap.php?map=google&elementid=184776663356036347&ineditor=0&control=3&width=auto&height=350px&overviewmap=0&scalecontrol=0&typecontrol=0&zoom=14&long=-80.5448576&lat=43.4722845&domain=www&point=1&align=1"></iframe></div>


					
				</td>			</tr>
		</tbody>
	</table>
</div></div></div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:49.78021978022%; padding:0 15px;">
					
						

<div class="wsite-spacer" style="height:50px;"></div>


					
				</td>				<td class="wsite-multicol-col" style="width:50.21978021978%; padding:0 15px;">
					
						

<div class="wsite-spacer" style="height:50px;"></div>


					
				</td>			</tr>
		</tbody>
	</table>
</div></div></div></div>

			</div><!-- end container -->
		</div><!-- end main-wrap -->
  </div><!--end page wrap -->
</div>
<script>
	var movementStrength = 25;
	var height = movementStrength / $(window).height();
	var width = movementStrength / $(window).width();
	$("#top-image").mousemove(function(e){
			  var pageX = e.pageX - ($(window).width() / 2);
			  var pageY = e.pageY - ($(window).height() / 2);
			  var newvalueX = width * pageX * -1 - 50;
			  var newvalueY = height * pageY * -1 - 25;
			  $('#top-image').css("background-position", newvalueX+"px "+newvalueY+"px");
	});
</script>

</body>
</html>