{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Nutri-Tools - Home</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script>
$(document).ready(function() {
	
	var movementStrength = 25;
	var height = movementStrength / $(window).height();
	var width = movementStrength / $(window).width();
	$("#top-image").mousemove(function(e){
			  var pageX = e.pageX - ($(window).width() / 2);
			  var pageY = e.pageY - ($(window).height() / 2);
			  var newvalueX = width * pageX * -1 - 50;
			  var newvalueY = height * pageY * -1 - 25;
			  $('#top-image').css("background-position", newvalueX+"px "+newvalueY+"px");
	});
});	
</script>
<link rel="stylesheet" href="http://cdn2.editmysite.com/css/sites.css?buildTime=1424377651" type="text/css" /><link rel='stylesheet' type='text/css' href='http://cdn1.editmysite.com/editor/libraries/fancybox/fancybox.css?1424377651' />
<link rel='stylesheet' type='text/css' href={% static 'css/main_style.css' %} title='wsite-theme-css' />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,400italic,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Mate:400,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
<style type='text/css'>
.wsite-elements.wsite-not-footer div.paragraph, .wsite-elements.wsite-not-footer p, .wsite-elements.wsite-not-footer .product-block .product-title, .wsite-elements.wsite-not-footer .product-description, .wsite-elements.wsite-not-footer .wsite-form-field label, .wsite-elements.wsite-not-footer .wsite-form-field label, #wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {}
#wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {}
.wsite-elements.wsite-footer div.paragraph, .wsite-elements.wsite-footer p, .wsite-elements.wsite-footer .product-block .product-title, .wsite-elements.wsite-footer .product-description, .wsite-elements.wsite-footer .wsite-form-field label, .wsite-elements.wsite-footer .wsite-form-field label{}
.wsite-elements.wsite-not-footer h2, .wsite-elements.wsite-not-footer .product-long .product-title, .wsite-elements.wsite-not-footer .product-large .product-title, .wsite-elements.wsite-not-footer .product-small .product-title, #wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {}
#wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {}
.wsite-elements.wsite-footer h2, .wsite-elements.wsite-footer .product-long .product-title, .wsite-elements.wsite-footer .product-large .product-title, .wsite-elements.wsite-footer .product-small .product-title{}
#wsite-title {}
.wsite-menu-default a {}
.wsite-menu a {}
.wsite-image div, .wsite-caption {}
.galleryCaptionInnerText {}
.fancybox-title {}
.wslide-caption-text {}
.wsite-phone {}
.wsite-headline {}
.wsite-headline-paragraph {}
.wsite-button-inner {}
.wsite-not-footer blockquote, #wsite-com-product-tab blockquote {}
.wsite-footer blockquote {}
.blog-header h2 a {}
#wsite-content h2.wsite-product-title {}
.wsite-product .wsite-product-price a {}
</style>
<style>
.wsite-background {background-image: url('http://cdn1.editmysite.com/uploads/4/7/7/7/47773417/background-images/346219241.jpg') !important;background-repeat: no-repeat !important;background-position: 50% 50% !important;background-size: cover !important;background-color: transparent !important;background: inherit;}
body.wsite-background {background-attachment: fixed !important;}
</style>
<script><!--
var STATIC_BASE = 'http://cdn1.editmysite.com/';
var STYLE_PREFIX = 'wsite';
//-->
</script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
<script src='http://cdn2.editmysite.com/js/site/main.js?buildTime=1424377651'></script>
<script>_W.relinquish && _W.relinquish()</script>
<script type='text/javascript'><!--
var IS_ARCHIVE=1;
(function(jQuery){
function initFlyouts(){initPublishedFlyoutMenus([{"id":"677773975109734505","title":"Home","url":"index.html","target":""},{"id":"687622072675596437","title":"Nutrition Tracker","url":"nutritionTracker.html","target":""},{"id":"862058900637090306","title":"About","url":"about.html","target":""},{"id":"112921315226525493","title":"Contact","url":"contact.html","target":""}],"677773975109734505","<li><a href=\"#\" data-membership-required=\"\" >{{title}}<\/a><\/li>",'active',false)}
if (jQuery) {
jQuery(document).ready(function() { jQuery(initFlyouts); });
}else{
if (Prototype.Browser.IE) window.onload = initFlyouts;
else document.observe('dom:loaded', initFlyouts);
}
})(window._W && _W.jQuery)
//-->
</script>
</head>
<body class='landing-page  wsite-theme-light wsite-page-index'>
<div id="top-image" class="wsite-background wsite-custom-background">
    <div id="header-wrap">
        <div class="container">
            <table id="header">
                <tr>
					<td class="phone-number"><span class='wsite-text wsite-phone'>The Two Dimension World @ 2015</span></td>
					<td id="header-right">
                        <table>
                            <tr>
								<td class="social"></td>
								<td class="search"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div><!-- end container -->
    </div><!-- end header-wrap -->  

		<div id="nav-wrap">
			<div class="container">
				<table>
					<tr>
						<td id="logo"><span class='wsite-logo'><a href={% url 'webapp:home' %}><span id="wsite-title">Nutri-Tools</span></a></span></td>
						<td id="menu"><ul class='wsite-menu-default'><li id="active"><a href={% url 'webapp:home' %}>Home</a></li><li id='pg687622072675596437'><a href={% url 'webapp:nutritionTracker' %} data-membership-required="0" >Nutrition Tracker</a></li><li id='pg862058900637090306'><a href={% url 'webapp:about'  %} data-membership-required="0" >About</a></li><li id='pg112921315226525493'><a href={% url 'webapp:contact' %} data-membership-required="0" >Contact</a></li></ul></td>
					</tr>
				</table>
				<div class="separate"></div>
			</div><!-- end container -->
		</div><!-- end nav-wrap -->
	
		<div id="banner-wrap">
			<div class="container">
				<div id="banner">
					
					<div id="bannerright" class="landing-banner-outer">
					    <div class="landing-banner-mid">
						    <div class="landing-banner-inner">
								<h2><span class='wsite-text wsite-headline'>Track the Food You Eat</span></h2>
								<p><span class='wsite-text wsite-headline-paragraph'>Use Nutrition Tracker to search food nutrition and keep track of what you eat!</span></p>
								<div style="text-align:center;"><div style="height: 0px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-large wsite-button-normal" href={% url 'webapp:nutritionTracker' %} >
<span class="wsite-button-inner">TRY IT NOW</span>
</a>
<div style="height: 0px; overflow: hidden;"></div></div>
							</div><!-- end banner inner -->
						</div><!-- end banner mid -->
					</div><!-- end banner-right -->
					
					<div style="clear:both;"></div>
				</div><!-- end banner -->
			</div><!-- end container -->
		</div><!-- end banner-wrap -->
</div><!-- end top image -->
<div class="below-fold-wrapper">
<div class="main-shadow"></div>
  <div id="page-wrap">
		<div id="main-wrap">
			<div class="container">
				<div id='wsite-content' class='wsite-elements wsite-not-footer'>
<h2 class="wsite-content-title" style="text-align:left;">What is Nutri-Tools' Nutrition Tracker?</h2>

<div class="paragraph" style="text-align:left;">According to the Journal of the American Medical Association, more than one third of the American population is obese in 2008. And since then, the obesity rates have only gotten worse. Also, the recommended amount of sodium is around 2000mg per day, but the average intake is about 3400mg. It may be difficult to make healthy choices because we are unaware of what is in our food. However, you have no need to worry! With Nutri-Tools' Nutrition Tracker you can now know what nutrients are in your food! Just record all the food items you had during the day, and this app would be able to let you know whether you're on the right track to a healthy diet.<br /><br /></div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href={% url 'webapp:about' 'aaa' %}>
<img src="uploads/4/7/7/7/47773417/8903746.jpg?225" alt="Picture" style="width:225;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Our Project</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href={% url 'webapp:contact' %}>
<img src="uploads/4/7/7/7/47773417/7001056.jpg?265" alt="Picture" style="width:265;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Contact Us</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href={% url 'webapp:about' 'team' %}>
<img src="uploads/4/7/7/7/47773417/2442512_orig.jpg" alt="Picture" style="width:100%;max-width:1100px" />
</a>
<div style="display:block;font-size:90%">Our Team</div>
</div></div>


					
				</td>			</tr>
		</tbody>
	</table>
</div></div></div></div>

			</div><!-- end container -->
		</div><!-- end main-wrap -->
  </div><!--end page wrap -->
</div>

</body>
</html>
