<link rel="stylesheet" href="/web.css">
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="app/web.js"></script>

<div id="display">
	<div id="items">
		<p>hi everyone</p>
	</div>
	<div id="tbl">
		<table id="tbl-list" class="reference">
			<tr>
				<th>Nutrient</th>
				<th>Amount</th>
			</tr>
			<tr>
				<td>Calories</td>
				<td>1</td>
			</tr>
		</table>
	</div>
</div>

<a href="#openModal" id="openOnLoad">X</a> <button onclick="open()">Modal box</button>
<div id="openModal" class="modalDialog">
	<div style="margin-top: 170px">
		<a href="#close" title="Close" class="close">X</a>
		<h2 id="hihi">Modal Box</h2>
		<div class="wrap">
			<div id="modLeft">
				<p style="font-family:Georgia, serif; font-size: 12pt">Category:</p>
				<select id="ddl" onchange="configureDropDownLists(this,document.getElementById('ddl2'))">
					<option value=""></option>
					<option value="Colours">Colours</option>
					<option value="Shapes">Shapes</option>
					<option value="Names">Names</option>
				</select>
				<p style="font-family:Georgia, serif; font-size: 12pt">Item:</p>
				<select id="ddl2">
				</select>
				<br>
				<br>
			</div>
			<div id="modRight">
				<br><br><button>Add</button>
			</div>
		</div>
	</div>
</div>
