<link rel="stylesheet" href="/web.css">
<script src="/web.js"></script>

<body>
<p style="font-family:Georgia, serif; font-size: 12pt">Category:</p>
<select id="ddl" onchange="configureDropDownLists(this,document.getElementById('ddl2'))">
	<option value=""></option>
	<option value="Colours">Colours</option>
	<option value="Shapes">Shapes</option>
	<option value="Names">Names</option>
</select>
<p style="font-family:Georgia, serif; font-size: 12pt">Item:</p>
<select id="ddl2">
</select>
<br>
<div id="display">
	<div id="items">
		<p>hi everyone</p>
	</div>
	<div id="tbl">
		<table id="tbl-list" class="reference">
			<tr>
				<th>Nutrient</th>
				<th>Amount</th>
			</tr>
			<tr>
				<td>Calories</td>
				<td>1</td>
			</tr>
		</table>
	</div>
</div>

<button onclick="open()">Modal box</button>
<div id="openModal" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2 id="hihi">Modal Box</h2>
		<p>This is a sample modal box that can be created using the powers of CSS3.</p>
		<p>You could do a lot of things here like have a pop-up ad that shows when your website loads, or create a login/register form for users.</p>
	</div>
</div>

</body>
